@use 'vars' as *;
@use 'mixins' as *;

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 84px + 20px;

  @include mq('tablet') {
    padding-top: 59px + 20px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;

  font: 400 20px / #{$normal-lh} $main-font;
  background-color: $white;
  color: $text;

  &::before {
    content: '';
    transition: background-color 0.3s;
  }

  @include mq('tablet') {
    font-size: 14px;
  }

  &.locked {
    overflow: hidden;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($black, 0.5);
      z-index: 3;
    }
  }
}

.page {
  flex: 1 0 auto;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 60px 0;

  @include mq('tablet') {
    padding: 22px 0;
  }
}

.navigation {
  position: absolute;
  bottom: 2px;
  left: 50%;
  z-index: 1;

  transform: translateX(-50%);
}

.pagination {
  margin-right: 18px;
.navigation-arrows {
  &__btn {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 1;

    width: 60px;
    height: 60px;

    transform: translateY(-50%) rotate(180deg);

    @include mq('desktop') {
      left: 0;
    }

    @include mq('phone') {
      display: none;
    }

    &--next {
      left: auto;
      right: 25px;
      transform: translateY(-50%);

      @include mq('desktop') {
        right: 0;
      }
    }

    &.swiper-button-disabled {
      .navigation-arrows__icon {
        fill: $silver-4;
      }
    }
  }

  &__icon {
    width: 19px;
    height: 32px;

    fill: $text-2;
    transition: fill 0.3s;
  }
}

.swiper-pagination {
  padding-top: 2px;

  .swiper-pagination-bullet {
    display: block;
    width: 15px;
    height: 15px;

    background-color: $silver-2;
    border-radius: 50%;
    outline: transparent;

    transition: background-color 0.3s;
    cursor: pointer;

    &:focus {
      box-shadow: 0 0 0 2px $primary;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $silver;
        box-shadow: 0 0 0 2px rgba($primary, 0.5);
      }
    }

    &:active {
      background-color: rgba($primary, 0.5);
      box-shadow: none;
    }
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 15px;
  }

  .swiper-pagination-bullet-active {
    background-color: $primary;
  }
}

.logo {
  display: block;

  &:focus {
    background-color: rgba($white, 0.01);
    box-shadow: 0 0 0 $shadow-size $shadow-color;
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.title {
  margin-bottom: 60px;

  font-size: 36px;
  font-weight: 500;
  text-align: center;

  color: $text-2;

  @include mq("tablet") {
    margin-bottom: 27px;
    font-size: 24px;
  }
}

.btn {
  display: inline-block;
  padding: 12px 32px 8px;

  font-size: 18px;

  background-color: $primary;
  color: $white;
  border-radius: 6px;

  transition: background-color 0.3s, 
              color 0.3s, 
              box-shadow 0.3s;

  &:focus {
    box-shadow: 0 0 0 $shadow-size $shadow-color;
    background-color: rgba($primary, 0.1);
    color: $primary;

    .btn__svg {
      fill: $primary;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: rgba($white, 0.2);
      color: $primary;
      box-shadow: 0 0 0 $shadow-size $shadow-color,
                  0 5px 12px 0 rgba($primary, 0.2);
      
      .btn__svg {
        fill: $primary;
      }
    }
  }

  &:active {
    color: $primary;
    background-color: rgba($primary, 0.1);
    box-shadow: none;

    .btn__svg {
      fill: $primary;
    }
  }

  @include mq('phone') {
    padding: 8px 24px;
    font-size: 14px;
  }
}

.close-btn {
  position: relative;

  width: 44px;
  height: 44px;

  color: $text-2;
  border-radius: $radius;

  transition: background-color 0.3s, box-shadow 0.3s;

  &:focus-visible {
    box-shadow: 0 0 0 $shadow-size $shadow-color;
    background-color: rgba($primary, 0.1);
  }

  &__line {
    position: relative;

    display: block;
    width: 30px;
    height: 2px;

    background-color: transparent;
    border-radius: 2px;

    &::before,
    &::after {
      @include pseudo(30px, 2px);
      top: 10px;

      background-color: currentColor;
      border-radius: 2px;

      transition: transform 0.3s;
      transform: rotate(-45deg) translate(7px, -7px);
    }

    &::after {
      top: -10px;
      transform: rotate(45deg) translate(7px, 7px);
    }
  }
}

.link {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  color: $text-2;

  transition: text-decoration 0.3s, color 0.3s;

  &:focus {
    box-shadow: 0 0 0 $shadow-size $shadow-color;
  }

  @media (any-hover: hover) {
    &:hover {
      color: $primary;
      text-decoration: transparent;
    }
  }

  &:active {
    color: $text;
    text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
  }

  @include mq('phone') {
    font-size: 16px;
  }
}

.input {
  padding: 13px 15px;
  font-size: 14px;

  border: 1px solid $shadow;

  &::placeholder {
    transition: color 0.3s;
  }

  &:focus {
    box-shadow: 0 0 0 $shadow-size $primary;
  }

  @media (any-hover: hover) {
    &:hover::placeholder {
      color: $text-2;
    }
  }
}

.rating {
  position: relative;
  width: $stars-count * ($star-size + $stars-gap);

  &--with-choice {
    .rating__container {
      flex-direction: row-reverse;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--rating) / #{$stars-count} * 100%);
    height: 100%;

    background: $star;
    mask-image: url(../img/sprite.svg#star);
    mask-repeat: repeat-x;
    mask-size: ($star-size + $stars-gap) $star-size;
  }

  &__container {
    gap: $stars-gap;
    height: $star-size;
    vertical-align: top;

    &:has(.rating__input:focus-visible) {
      box-shadow: 0 0 0 $shadow-size $shadow-color;
      border-radius: $radius;
    }
  }

  &__star {
    display: block;
    width: $star-size;
    height: $star-size;

    fill: rgba($silver-4, 0.3);

    &:not(:last-child) {
      margin-right: $stars-gap;
    }
  }

  &__input {
    &:focus-visible {
      & + .rating__label .rating__star,
      & ~ .rating__label .rating__star {
        fill: $star;
      }
    }

    &:checked {
      & + .rating__label .rating__star,
      & ~ .rating__label .rating__star {
        fill: $star;
      }
    }
  }
}

.animation-link {
  transition: color 0.3s;

  &:focus {
    box-shadow: 0 0 0 $shadow-size $shadow-color;
  }

  @media (any-hover: hover) {
    &:hover {
      color: $primary;
    }
  }

  &:active {
    color: $text;
    text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
