$primary: #ff6838;
$text: #31352b;
$text-2: #363853;
$shadow: #ececec;

$white: #ffffff;
$black: #000000;
$blue: #00aaff;
$silver: #fff2ed;
$silver-2: #c2c2c2;
$silver-3: #eeeff3;
$red: #ff2222;

$main-font: Rubik, Arial, Helvetica, sans-serif;
$normal-lh: 1.5;
$title-lh: 1.3;
$price-lh: 1.4;
$contact-lh: 2;

$container-width: 1200px;
$radius: 5px;
$shadow-size: 2px;
$shadow-color: rgba($primary, 0.7);

$breakpoints: (
  'phone': 560px,
  'tablet': 768px,
  'tablet-2': 992px,
  'desktop': $container-width,
);
%bg {
  background-position: center;
  background-repeat: no-repeat;
}

%bg-cover-center {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

%bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

%bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
}

%bg-contain-center {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
