@use 'vars' as *;
@use 'mixins' as *;
@use 'fonts';
@use 'reset';
@use 'libs';
@use 'global';


// ======= HEADER ======= //

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  // max-width: 1200px;
  margin: 0 auto;

  background-color: $white;
  transition: box-shadow 0.3s;

  &--fixed {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    
    .header__inner {
      padding: 20px 0 20px;
    }
  }

  &__inner {
    padding: 59px 0 56px;
    transition: padding 0.3s;
  }

  &__logo {
    transform: translateX(6px);
  }

  &__list {
    margin-right: 52px;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }


  @include mq("tablet-2") {
    &__list {
      margin-right: 10px;
    }

    &__item:not(:last-child) {
      margin-right: 25px;
    }
  }

  @include mq("tablet") {
    &--fixed {
      .header__inner {
        padding: 10px 0 5px;
      }
    }

    &__inner {
      padding: 14px 0 8px;
    }

    &__logo {
      transform: none;
    }
  }

  @include mq("phone") {
    &__logo-img {
      width: 115px;
      height: 32px;
    }
  }
}

.menu {
  &__link {
    font-size: 18px;
    letter-spacing: 0.01em;

    &--active {
      color: $primary;
      pointer-events: none;
    }
  }

  &__btn {
    position: relative;
  
    display: none;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
  
    &--close {
      position: absolute;
      top: 10px;
      right: 0;
    }
  }

  &__line {
    position: relative;
  
    display: block;
    width: 30px;
    height: 2px;
  
    background-color: $text-2;
    border-radius: 2px;
  
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 10px;
  
      display: block;
      width: 30px;
      height: 2px;
  
      background-color: $text-2;
      border-radius: 2px;
  
      transition: transform 0.3s;
    }

    &::after {
      top: -10px;
    }

    &--active {
      background-color: transparent;
  
      &::before {
        transform: rotate(-45deg) translate(7px, -7px);
      }

      &::after {
        transform: rotate(45deg) translate(7px, 7px);
      }
    }
  }

  @include mq("tablet") {
    &__list {
      display: none;
    }

    &__btn {
      display: flex;
    }
  }
}

.user-action {
  &__link {
    position: relative;

    width: 44px;
    height: 44px;

    transition: background-color 0.3s;

    &:focus {
      background-color: rgba($primary, 0.1);
      box-shadow: 0 0 0 $shadow-size $shadow-color;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $primary;
  
        .user-action__svg {
          stroke: $white;
        }
  
        .user-action__num {
          background-color: $white;
          color: $primary;
        }
      }
    }

    &:active {
      background-color: $silver;
    }
  }
  
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__svg {
    width: 24px;
    height: 21px;

    fill: none;
    stroke: $text-2;
    stroke-width: 1.5;

    transition: stroke 0.3s;
  }

  &__num {
    position: absolute;
    top: 8px;
    left: 26px;

    display: block;
    padding: 0 4px;
  
    font-size: 11px;
    line-height: 1.38;

    color: $white;
    background-color: $primary;
    border-radius: 7px;
  
    transition: background-color 0.3s, color 0.3s;
  }

  @include mq("tablet") {
    margin-right: 10px;
  }
}


// ======= HERO ======= //

.hero {
  padding-bottom: 60px;

  &__inner {
    position: relative;
    padding: (156px + 159px) 0 156px;
  }

  &__info {
    max-width: 476px;
  }

  &__background {
    position: absolute;
    top: 160px;
    right: 0;
    z-index: -1;

    width: 560px;
    height: 660px;

    @extend %bg-contain-center;
  }

  &__title {
    margin-bottom: 20px;

    font-size: 66px;
    text-transform: uppercase;
    font-weight: 500;
  
    color: $text-2;
  }

  &__title-text {
    &--highlighted {
      color: $primary;
    }
  }

  &__text {
    margin-bottom: 20px;
    max-width: 450px;
  }

  &__btn,
  &__link {
    margin-right: 19px;
  }

  &__btn {
    letter-spacing: 0.03em;
  }

  @include mq("tablet-2") {
    &__background {
      opacity: 0.15;
    }
  }

  @include mq("phone") {
    padding-bottom: 20px;
    font-size: 16px;

    &__inner {
      padding: (72px + 25px) 0 25px;
    }

    &__title {
      font-size: 40px;
    }

    &__buttons {
      display: flex;
      align-items: center;
    }

    &__btn {
      margin-right: 24px;
      padding: 6px 25px;

      font-size: 14px;
    }

    &__link {
      margin-right: 24px;
      font-size: 16px;
    }

    &__background {
      top: 67px;
      width: 255px;
      height: 308px;
    }
  }

  @include mq(320px) {
    &__title {
      font-size: 32px;
    }

    &__btn,
    &__link {
      margin-right: 10px;
    }
  }
}


// ======= PRODUCTS ======= //

.products {
  &__tabs {
    margin-bottom: 45px;
  }
  
  &__list {
    display: none;

    &--active {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 -30px 30px 0;
    }
  }

  &__product {
    width: 100%;
    max-width: 210px;
    margin: 0 30px 30px 0;
  }

  &__see-more {
    display: block;
    margin: 0 auto;
  }

  @include mq("desktop") {
    &__list--active {
      margin-right: 0;
    }
  }

  @include mq("phone") {
    &__tabs {
      margin-bottom: 30px;
    }

    &__list--active {
      margin: 0 -5px 20px 0;
    }

    &__product {
      width: 48%;
      margin: 0 5px 12px 0;
    }
  }

  @include mq(320px) {
    &__product {
      width: 100%;
    }
  }
}

.tabs {
  padding: 2px;
  overflow-x: auto;

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__tab {
    padding: 13px 32px;

    font-size: 20px;
    white-space: nowrap;
  
    color: $text-2;
    box-shadow: 0 0 0 1px $shadow;
    transition: background-color 0.3s, 
                color 0.3s,
                box-shadow 0.3s;
    
    &:focus {
      box-shadow: 0 0 0 $shadow-size $shadow-color;
    }
    
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba($primary, 0.1);
        color: $primary;
        box-shadow: 0 0 0 $shadow-size $shadow-color;
    
        .tabs__svg {
          fill: $primary;
        }
      }
    }

    &:active {
      background-color: $white;
      box-shadow: inset 0 -5px 12px 0 rgba($primary, 0.2);
    }

    &--active {
      color: $white;
      background-color: $primary;
      box-shadow: none;

      pointer-events: none;

      .tabs__svg {
        fill: $white;
      }
    }
  }
  
  &__svg {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    fill: $text-2;
    stroke: none;

    transition: fill 0.3s;
  }

  @include mq("phone") {
    &__item:not(:last-child) {
      margin-right: 10px;
    }

    &__tab {
      padding: 11px 16px;
      font-size: 14px;
    }

    &__svg {
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }
  }
}

.product {
  flex-direction: column;
  padding: 20px 15px;
  height: 100%;

  font-size: 15px;
  text-align: center;

  border-radius: $radius;
  box-shadow: 0 0 0 1px $shadow;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 0 1px $primary;
  }

  &__img {
    width: 140px;
    height: 140px;
    margin: 0 auto 10px;
  }

  &__name {
    margin-bottom: 9px;
    flex: 1 1 auto;

    font-weight: 400;
    font-size: 15px;
    line-height: 1.1;
  }

  &__price {
    display: block;
    margin-bottom: 15px;

    font-weight: 500;
    line-height: $price-lh;

    color: $text-2;
    transform: translateY(6px);
  }

  &__btn {
    padding: 5px 14px;
    font-size: 14px;
  }

  @include mq("phone") {
    &__img {
      height: auto;
    }

    &__price {
      transform: translateY(3px);
      margin-bottom: 13px;
    }
  }
}


// ======= DELIVERY ======= //

.delivery {
  &__inner {
    position: relative;
    padding: 59px 0 46px;
  }

  &__info {
    max-width: 470px;
    margin-left: auto;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 70px;
    z-index: -1;

    width: 440px;
    height: 585px;     

    @extend %bg-contain-center;
  }

  &__title {
    margin-bottom: 30px;
    text-align: left;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 30px;
    font-size: 24px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__svg {
    width: 34px;
    height: 34px;
    margin-right: 30px;
  
    &--fast {
      fill: $primary;
    }
  
    &--couriers {
      fill: $blue;
    }
  
    &--restaurants {
      fill: $red;
    }
  }

  &__link {
    padding-bottom: 8px;
    letter-spacing: 0.03em;
  }

  @include mq("tablet-2") {
    &__background {
      opacity: 0.15;
    }
  }

  @include mq("tablet") {
    font-size: 18px;

    &__text {
      margin-bottom: 20px;
    }

    &__list {
      margin-bottom: 20px;
      font-size: 18px;
    }

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }

    &__svg {
      margin-right: 10px;
    }
  }

  @include mq("phone") {
    &__inner {
      padding: 20px 0 31px;
    }

    &__background {
      left: 0;
      width: 100%;
      height: 455px;
    }

    &__link {
      padding: 7px 24px 5px;
    }
  }

  @include mq(320px) {
    font-size: 14px;

    &__list {
      font-size: 14px;
    }
  }
}


// ======= RESTAURANTS ======= //

.restaurants {
  padding-top: 70px;

  &__inner {
    flex-wrap: wrap;
    margin: 0 -30px (-31px + 14px) 0;
    box-sizing: border-box;
  }

  &__restaurant {
    max-width: 370px;
    width: 100%;
    margin: 0 30px 31px 0;
  }

  &__swiper-pagination {
    display: none;
  }

  @include mq("tablet-2") {
    &__restaurant {
      width: 45%;
    }
  }

  @include mq("tablet") {
    padding-top: 22px;

    &__swiper-wrap {
      padding-bottom: 30px + 15px;
    }

    &__inner {
      justify-content: flex-start;
      flex-wrap: nowrap;
      margin: 0;
    }
  
    &__restaurant {
      display: flex;
      justify-content: center;
      max-width: 100%;
      margin: 0;
    }

    &__swiper-pagination {
      display: flex;
    }
  }
}

.restaurant {
  flex-direction: column;
  height: 100%;

  background: top no-repeat;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.3s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 3px 15px 0 rgba($primary, 0.5);
    }
  }

  &__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__inner {
    padding: 15px 22px 23px 19px;
  }

  &__info {
    align-items: flex-start;
  }

  &__name {
    flex: 1 1 auto;
    margin-bottom: 22px;

    font-size: 24px;
    font-weight: 400;
  }

  &__time {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
  }

  &__time-svg {
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }

  &__link {
    padding: 5px 25px 5px 29px;
    max-width: 79px;

    border-radius: 20px;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 0 $shadow-size $shadow-color;

        .restaurant__link-svg {
          transform: translateX(16px);
        }
      }
    }
  }

  &__link-svg {
    width: 24px;
    height: 22px;

    fill: $white;

    transition: transform 0.3s;
  }

  @include mq("tablet") {
    max-height: 422px;
    max-width: 360px;
  }
}


// ======= REVIEWS ======= //

.reviews {
  padding: 62px 0 53px;

  @include mq("phone") {
    padding: 15px 0 19px;
  }
}

.reviews-slider {
  max-width: 990px;

  &__inner {
    position: relative;
    padding-bottom: 30px + 34px + 4px;
  }

  &__btn {
    width: 38px;
    height: 38px;
  
    border: 3px solid $silver-2;
    border-radius: 50%;

    &:focus {
      box-shadow: 0 0 0 $shadow-size $shadow-color;
    }

    @media (any-hover: hover) {
      &:hover:not(.swiper-button-disabled) {
        border: 3px solid rgba($primary, 0.5);
        background-color: $silver;

        .reviews-slider__svg {
          fill: rgba($primary, 0.5);
        }
      }
    }

    &:active:not(.swiper-button-disabled) {
      background-color: $silver;
      border: 3px solid $silver;
      box-shadow: none;

      .reviews-slider__svg {
        fill: $primary;
      }
    }

    &--prev {
      margin-right: 24px;
    }
  
    &--next {
      transform: rotateY(180deg);
    }
  }

  &__svg {
    height: 19px;
    width: 11px;

    fill: $silver-2;
  }

  &__btn:not(.swiper-button-disabled) {
    border-color: $primary;

    .reviews-slider__svg {
      fill: $primary;
    }
  }

  &__pagination {
    transform: translateX(-3px);
  }

  @include mq("phone") {
    position: relative;
  
    &__inner {
      padding-bottom: 0;
    }

    &__nav {
      position: static;
      transform: none;
    }

    &__pagination {
      display: none;
    }

    &__btn {
      position: absolute;
      top: 34px;
      left: 36px;
      z-index: 1;
      
      margin-right: 0;

      &--next {
        left: auto;
        right: 37px;
      }
    }
  }
}

.review {
  &__inner {
    max-width: 650px;
  }

  &__img {
    width: 300px;
    height: 300px;
    margin-right: 40px;
    border-radius: 50%;
  }

  &__quote {
    position: relative;
    margin-bottom: 26px;
    padding: 0 (16px + 24px);
    
    font-style: italic;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 24px;
      height: 19px;

      @extend %bg-contain-center;
      background-image: url("../img/quote-left.svg");
    }

    &::after {
      top: auto;
      left: auto;
      bottom: 0;
      right: 0;

      transform: rotateY(180deg);
    }
  }

  &__cite,
  &__author,
  &__position {
    display: block;
  }
  
  &__cite {
    margin-left: 16px + 24px;
    font-style: normal;
    transform: translate(1px, 5px);
  }

  &__author {
    margin-bottom: 15px;
  
    letter-spacing: 0.01em;
    color: $primary;
  }

  &__position {
    font-size: 14px;
  }

  @include mq("tablet-2") {
    align-items: flex-start;

    &__img {
      width: 200px;
      height: 200px;
      margin-right: 15px;
    }
  }

  @include mq("tablet") {
    &__img {
      width: 130px;
      height: 130px;
      margin-right: 10px;
    }

    &__quote {
      margin-bottom: 20px;
    }

    &__author {
      margin-bottom: 10px;
    
      font-size: 16px;
      font-weight: 500;
    }
  }

  @include mq("phone") {
    flex-direction: column;

    &__img {
      margin: 0 auto 32px;
      width: 100px;
      height: 100px;
    }

    &__quote {
      padding: 0 40px;

      &::before {
        top: -7px;
        left: 4px;
      }

      &::after {
        bottom: 13px;
        right: 7px;
      }
    }

    &__cite {
      transform: none;
    }

    &__author {
      letter-spacing: 0;
    }
  }
}


// ======= APPLICATION ======= //

.application {
  padding-bottom: 118px;

  &__inner {
    padding: 41px 0 40px;
    background: right center no-repeat;
  }

  &__info {
    max-width: 470px;
  }

  &__title {
    margin-bottom: 45px;
    text-align: left;
  }

  &__text {
    margin-bottom: 30px;
  }

  @include mq("desktop") {
    &__inner {
      background-image: none !important;
    }
  }

  @include mq("tablet-2") {
    padding-bottom: 40px;
  }

  @include mq("tablet") {
    &__inner {
      padding: 0;
    }

    &__text {
      margin-bottom: 15px;
    }

    &__title {
      margin-bottom: 13px;
    }
  }
}

.applications {
  &__link {
    border-radius: 5px;

    &:focus {
      box-shadow: 0 0 0 $shadow-size $shadow-color;
    }
  }

  &__link:not(:last-child) {
    margin-right: 30px;
  }
}


// ======= FOOTER ======= //

.footer {
  font-size: 18px;

  &__inner {
    padding-bottom: 62px;
  }

  &__form-wrapper {
    margin-right: 72px;
    max-width: 200px;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    gap: 16px 92px;
    margin: 4px 126px 0 0;
  }

  &__contact {
    min-width: 265px;
  }

  &__copy {
    padding: 29px 0 30px;

    font-size: 14px;
    text-align: center;

    background-color: $text-2;
    color: $white;
  }

  @include mq("desktop") {
    &__list {
      gap: 16px 30px;
      margin: 4px 72px 0 0;
    }

    &__contact {
      min-width: 0;
    }
  }

  @include mq("tablet-2") {
    &__inner {
      flex-wrap: wrap;
      padding-bottom: 20px;
    }

    &__form-wrapper,
    &__list {
      margin-bottom: 30px;
      margin-right: 40px;
    }
  }

  @include mq("phone") {
    &__inner {
      flex-direction: column;
      padding-bottom: 0;
    }

    &__menu {
      order: 3;
    }
    
    &__list {
      grid-template-columns: repeat(1, auto);
      grid-auto-flow: row;
      gap: 16px 0;
    }

    &__contact {
      order: 2;
      margin-bottom: 30px;
    }

    &__copy {
      display: none;
    }
  }
}

.form {
  &__input {
    width: 100%;
    max-height: 44px;
    margin-bottom: 17px;
  }

  &__btn {
    position: relative;
  
    display: block;
    width: 200px;
    padding: 14px 29px 12px 65px;
    
    font-size: 14px;
    letter-spacing: 0.02em;
  }

  &__svg {
    position: absolute;
    top: 50%;
    left: 36px;

    width: 17px;
    height: 16px;

    stroke: none;
    fill: $white;

    transform: translateY(-50%);
  }

  @include mq("phone") {
    &__input {
      margin-bottom: 12px;
    }
  }
}

.contact {
  font-size: 16px;
  line-height: $contact-lh;
  font-style: normal;

  &__item {
    margin-bottom: 16px;
  }

  &__span {
    position: relative;
    padding-left: 31px;

    &:focus {
      box-shadow: 0 0 0 $shadow-size $shadow-color;
    }

    &--address {
      font-style: normal;
    }
  }

  &__svg {
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 24px;
    height: 24px;

    fill: none;
    stroke: $text;
    stroke-width: 1.5;

    transform: translateY(-50%);
  }

  @include mq("phone") {
    margin-bottom: 21px;
  }
}

.social-list {
  &__item:not(:last-child) {
    margin-right: 13px;
  }

  &__social {
    width: 39px;
    height: 39px;

    background-color: $shadow;
    border-radius: 50%;
  
    transition: background-color 0.3s;

    &:not(:last-child) {
      margin-right: 13px;
    }

    &:focus {
      box-shadow: 0 0 0 $shadow-size $shadow-color;
      background-color: $silver;
    }
  
    @media (any-hover: hover) {
      &:hover {
        background-color: $primary;
  
        .social-list__svg {
          fill: $white;
        }
      }
    }
  
    &:active {
      background-color: $silver;
  
      .social-list__svg {
        fill: $primary;
      }
    }
  }

  &__svg {
    width: 21px;
    height: 20px;

    stroke: none;
    fill: $text;
    
    transition: fill 0.3s;
  }
}
