<section class="application section" id="app">
  <div class="container">
    <div
      class="application__inner"
      style="background-image: url('img/get-app.jpg')"
    >
      <div class="application__info">
        <h2 class="title application__title lh-title">
          Завантажте мобільний застосунок
        </h2>
        <p class="application__text">
          Ресторани, які ви любите - у ваших руках. Встановлюйте застосунок та
          замовляйте їжу в зручному місці в зручний час
        </p>
        <div class="application__applications applications d-f ai-c">
          <a
            class="applications__link"
            target="_blank"
            rel="noopener noreferrer"
            href="#"
          >
            <img
              src="img/app-store.svg"
              width="120"
              height="40"
              alt="Завантажити з App Store"
            />
          </a>
          <a
            class="applications__link"
            target="_blank"
            rel="noopener noreferrer"
            href="#"
          >
            <img
              src="img/play-store.svg"
              width="130"
              height="40"
              alt="Завантажити з Google Play"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
